.dropDown_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.dropDown {
  display: flex;
  cursor: pointer;
  width: fit-content;
}

.dropDown p {
  color: var(--lightBlackColor);
  font-size: var(--FS14);
  font-weight: 500;
  font-family: var(--paginationFont);
}

@media(max-width:1440px) {
  .dropDown_container {
    margin-bottom: 0;
    margin-right: 10px;
  }
}