.api_container {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.api_container .cards_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px 0;
}

.rc-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-family: var(--paginationFont);
  margin-top: 10px;
}

.rc-pagination-item {
  margin: 0 5px;
  cursor: pointer;
}

.rc-pagination-item a {
  font-size: var(--FS18);
  color: var(--whiteColor);
}

.rc-pagination-item-active a,
.customLink-active {
  text-decoration: underline;
  font-weight: 700;
}


.rc-pagination-next,
.rc-pagination-prev {
  margin: 0 5px;
  cursor: pointer;
}

.rc-pagination-next span,
.rc-pagination-prev span {
  font-weight: 700;
  font-size: var(--FS24);
  position: relative;
  bottom: 2px;
  color: var(--whiteColor);
}

@media(max-width:1000px) {
  .api_container {
    margin: 0 5px;
  }
}

@media(max-width:768px) {
  .api_container {
    margin: 0 5px;
  }

  .api_container .cards_list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width:410px) {
  .api_container {
    margin: 0 5px;
  }

  .api_container .cards_list {
    grid-template-columns: repeat(1, 1fr);
  }
}