.navigation {
  display: flex;
  justify-content: space-between;
  height: 120px;
  background: var(--backgroundColor);
  border-bottom: 1px solid var(--borderColor);
}

.navigation a,
.navigation p {
  font-size: var(--FS40);
  color: var(--whiteColor);
}

.container_1,
.container_2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
}

.container_1 a,
.container_1 p {
  font-weight: 700;
  margin: 0 10px;
}

.container_1 {
  flex-grow: 1;
  border-right: 1px solid var(--borderColor);
}

.container_2 {
  min-width: 30%;
}

.container_2 p {
  font-weight: 500;
}

.container_2 img {
  width: calc(var(--scaleFactor) * 80px);
  height: calc(var(--scaleFactor) * 80px);
  border-radius: 50%;
  margin-left: 30px;
  cursor: pointer;
}

@media(max-width:850px) {

  .container_1,
  .container_2 {
    padding: 0 5px;
  }
}

@media(max-width:768px) {
  .navigation {
    flex-direction: column;
    height: unset;
    padding: 5px 0;
  }

  .container_1,
  .container_2 {
    align-items: center;
    justify-content: center;
  }

  .container_1 {
    border-right: none;
  }

}

@media(max-width:410px) {
  .container_2 p {
    font-size: var(--FS24);
  }
}