body {
  min-height: 100svh;
  background: var(--backgroundColor);
  overflow-x: hidden;
}

button {
  border: none;
  cursor: pointer;
}

h1 {
  font-size: var(--FS24);
}

p,
h1,
h2 {
  color: var(--blackColor);
  font-weight: 400;
}

p,
a,
span {
  font-size: var(--minFS);
}

a {
  text-decoration: none;
  color: var(--blackColor);
}

input {
  outline: none;
  border: none;
}

input::placeholder {
  color: #A5A5A5;
  font-weight: 400;
}