:root {
  font-family: 'Montserrat', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --scaleFactor: 1;
  --minFS: calc(14px * var(--scaleFactor));
  --coverTextFS: calc(96px * var(--scaleFactor));
  --bigHeadingsFS: calc(64px * var(--scaleFactor));
  --FS40: calc(40px * var(--scaleFactor));
  --FS36: calc(36px * var(--scaleFactor));
  --FS24: calc(24px * var(--scaleFactor));
  --FS18: calc(18px * var(--scaleFactor));
  --FS14: calc(14px * var(--scaleFactor));
  --blueColor: #4980C0;
  --whiteColor: #FFF;
  --grayColor: #E6EBFF;
  --borderColor: #EBEBEB;
  --blackColor: #000;
  --backgroundColor: #090707;
  --lightBlackColor: #353535;
  --headingFont: 'Rowdies';
  --mainFont: 'Montserrat';
  --paginationFont: 'FiraGO';
  --tableHeadingFont: 'Helvetica';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media(max-width:1440px) {
  :root {
    --scaleFactor: 0.9;
  }
}

@media(max-width:1000px) {
  :root {
    --scaleFactor: 0.85;
  }
}

@media(max-width:768px) {
  :root {
    --scaleFactor: 0.8;
  }
}

@media(max-width:576px) {
  :root {
    --scaleFactor: 0.7;
  }
}