.students_table {
  max-width: calc(var(--scaleFactor) * 1000px);
  min-height: calc(var(--scaleFactor) * 595px);
  overflow-x: scroll;
  margin: 25px auto 0 auto;
  background: var(--whiteColor);
  border-radius: 10px;
  padding-bottom: 10px;
}

.students_table table {
  border-collapse: collapse;
}

table th {
  font-size: var(--FS14);
  font-weight: 700;
  color: var(--lightBlackColor);
  padding: 12px 60px;
  border-bottom: 1px solid var(--blueColor);
  font-family: var(--tableHeadingFont);
}

.score_th {
  position: relative;
}

.score_th_sorticons {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 20%;
  top: 32%;
  cursor: pointer;
}

.score_th_sorticons img:nth-child(1) {
  transform: rotate(-90deg);
}

.score_th_sorticons img:nth-child(2) {
  transform: rotate(90deg);
}

/*styles of pagination are defined inside api component css file*/

@media(max-width:1000px) {
  .students_table {
    min-height: calc(var(--scaleFactor) * 610px);
  }
}

@media(max-width:768px) {
  .students_table {
    min-height: calc(var(--scaleFactor) * 680px);
  }

  table th {
    padding: 15px 30px;
  }

  .score_th_sorticons {
    right: 10%;
    top: 28%;
  }
}

@media(max-width:576px) {
  .students_table {
    min-height: calc(var(--scaleFactor) * 700px);
  }
}